* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    font-weight: 400;
    line-height: 1.5em;
    color: $font-main-color;
    background: $background-color;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    .form-wrapper {
        margin: 100px auto;
        padding: 100px 40px 40px 40px;
        -webkit-box-shadow: 2px 2px 14px 1px rgba(107, 99, 107, 1);
        -moz-box-shadow: 2px 2px 14px 1px rgba(107, 99, 107, 1);
        box-shadow: 2px 2px 14px 1px rgba(107, 99, 107, 1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        .input-wrapper {
            .label {
                padding: 15px 0;
            }
            input[type='text'],
            input[type='password'] {
                color: $font-main-color;
                padding: 15px;
                width: 350px;
                font-size: 17px;
                border: 1px solid #ccc;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
        }
        .forgot-pwd {
            text-align: right;
            margin-bottom: 20px;
            a {
                text-decoration: none;
                color: $btn-color;
            }
        }
        .remember {
            margin-bottom: 150px;
            font-size: 14px;
            font-weight: 700;
            input[type=checkbox] {
                transform: scale(1.3);
                -ms-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -o-transform: scale(1.3);
                margin-right: 10px;
                vertical-align: middle;
                position: relative;
                bottom: 1px;
            }
            input[type=checkbox]:active,
            input[type=checkbox]:focus {
                outline:0;
            }
            input[type=checkbox]:checked{
                background: red;
            }
        }
        .btn-wrapper {
            text-align: center;
            button {
                background: $btn-color;
                color: $background-color;
                padding: 15px;
                border: 0;
                text-transform: uppercase;
                width: 250px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 20px;
            }
            button:hover {
                background: #FF860D;
            }
            button:active {
                background: #F08D2A;
            }
            button::-moz-focus-inner {
                border: 0;
            }
        }
    }
}